{% extends "site_base.html" %}

{% load i18n %}
{% load humanize i18n %}
{% load pagination_tags %}
{% load timezone_filters %}
{% load tagging_tags %}
{% load threadedcommentstags %}

{% block head_title %}{% trans "Tintz - Publica&ccedil;&otilde;es" %}{% endblock %}

{% block extra_body %}
    {% if user.is_authenticated %}
    {% else %}
        {% url acct_signup as signup_url %}
        {% url acct_login as login_url %}
        <p>{% blocktrans %}Voc&ecirc; pode <a href="{{ signup_url }}">se cadastrar</a> ou <a href="{{ login_url }}">logar.</a>{% endblocktrans %}</p>        
    {% endif %}     
{% endblock %}

{% block main_content %}
<div class="span-8" id="left-panel">
    {% include "profiles/profile_left_panel.html" %}
</div>
<div class="span-14 last">
    <div class="title"><img src="{{MEDIA_URL}}/images/bt_publications.png">Publica&ccedil;&otilde;es</div>
    <div id="list-publications">
        {% for publication in publications %}
            <div class="list-pub-item last">

                <div class="span-4 publications-cover">
                {% ifequal publication.status 0 %}
                    <img src="{{ MEDIA_URL }}images/cover_default150.png">
                {% else %}
                     <a href="{% url publication_details publication.author publication.id %}">
                     <img src="{{ MEDIA_URL }}{{ publication.get_thumbnail150_name|urlencode  }}" href="{% url publication_details publication.author publication.id %}" title="{{ publication.title }}"/></a>
                {% endifequal %}
                </div>

                <div class="span-8 list-pub-title">
                {% ifequal publication.status 0 %}
                    <a href="">{{ publication.title }}</a>
                {% else %}
                    <a href="{% url publication_details publication.author publication.id %}">{{ publication.title }}</a>
                {% endifequal %}
                </div>

                <div class="span-8 last list-pub-description last">{{ publication.get_small_text|linebreaks }}</div>

                <div class="span-2 list-pub-subtitle last"> {{publication.nr_pages}} p&aacute;gina{{publication.nr_pages|pluralize}}</div>

                {% if is_me %}
                    <div class="span-1 list-pub-button"><a href="{% url edit_publication publication.id %}" ><img src="{{ MEDIA_URL }}images/publication_edit.png" title="Editar Publicação"></img></a></div>
                    <div class="span-1 list-pub-button last"><a href="{% url destroy_publication publication.id %}" onclick=" ConfirmChoice('{% url destroy_publication publication.id %}'); return false;"><img src="{{ MEDIA_URL }}images/publication_delete.png" title="Excluir Publicação"></img></a></div>
                {% endif %}
            </div>

        {% endfor %}


    </div>

    <div id="last_publication" style="display: none">6</div>

    <div class="more span-10 last" onclick="Dajaxice.publications.more_publications('Dajax.process',{ 'other_user_id': {{ other_user.id }}, 'last_publication':document.getElementById('last_publication').innerHTML })">{% trans "Publica&ccedil;&otilde;es anteriores" %} >></div>

    
    
</div>
{% endblock %}

{% block extra_elements %}
    <script type="text/javascript">
    function ConfirmChoice(del_url)
    {
	    answer = confirm("Tem certeza que deseja excluir essa publicação?")
	    if (answer !=0)
	    {
		    location = del_url
	    }
    }
    </script>    
{% endblock %}
