{% load threadedcommentstags %}
{% load i18n %}
{% load pagination_tags %}
{% load avatar_tags %}

{% get_threaded_comment_tree for object as responses %}
{% autopaginate responses %}

<ul class="responses span-10 last">
    {% if responses %}
	    {% for response in responses %}
        <table class="span-10 comment">
        <tr><td>
		    <div class="span-2 meta">
		        <div class="span-1 avatar"><a href="{% url profile_detail response.user.username %}" title="{{ response.user.get_profile.first_name }} {{ response.user.get_profile.last_name }}">{% avatar response.user 40 %}</a></div>
		        <div class="comment-user span-1 last"><a href="{% url profile_detail response.user.username %}" title="{{ response.user.get_profile.first_name }} {{ response.user.get_profile.last_name }}">{{ response.user.get_profile.first_name }}:</a></div>
		    </div>

		    <div class="delete-comment span-2 last">
		    {% ifequal user response.user %}
		       <form method="POST" action="{% url tc_comment_delete response.id %}">
			  <input type="image" title="{% trans "Excluir Comentário" %}" src="/site_media/images/publication_delete.png"/>
			  <input type="hidden" name="next" value="{{ request.path }}" />
		       </form>
		    {% else %}
			    {% ifequal user object.author %}
				<form method="POST" action="{% url tc_comment_delete response.id %}">
				   <input type="image" title="{% trans "Excluir Comentário" %}" src="/site_media/images/publication_delete.png"/>
				   <input type="hidden" name="next" value="{{ request.path }}" />
				</form>
			    {% endifequal %}
		    {% endifequal %}
		    </div>

		    <div class="comment-body span-10 last">
		        {{ response.comment|urlize|linebreaks }}
		    </div>

		    <div class="separator span-10 last"></div>
        </td></tr>
		</table>
	    {% endfor %}
     {% endif %}
</ul>

{% paginate %}

<div class="span-10 pull-1 comment-box">
{% if user.is_authenticated %}
    <form class="comments-form" method="POST" action="{% get_comment_url object %}">
        <fieldset class="comments-fieldset">
	    <textarea id="id_comment" rows="10" cols="40" name="comment"></textarea>
	    <input type="hidden" class="span-7" name="next" value="{{ request.path }}" />
	    <!--input type="submit" value="{% trans "Comentar" %}" class="comment_button"/-->
	    <input type="image" id="form-bt-comment" class="span-3 last button-comment" src="/site_media/images/bt_comment.png"/>
        </fieldset>
    </form>
{% else %}
    <h3>Favor <a href="{% url acct_login %}">Logar</a> (ou <a href="{% url acct_signup %}">Cadastre-se</a>) para deixar um comentário</h3>
{% endif %}
</div>
