{% extends "site_base_logout.html" %}

{% load i18n %}

{% block head_title %}{% trans "Tintz - O que &eacute; Tintz" %}{% endblock %}

{% block login %}

   <img class="img-login" src="{{ MEDIA_URL }}images/previa1.jpg"></img>

    <div class="span-8  last" id="cont-login">
        <div class="login-img">
            <img src="{{ MEDIA_URL }}images/tintz_login.png">
        </div>

        <img class="hline" src="{{ MEDIA_URL }}images/hline.png">

        <div class="span-6" id="whats_tintz">

        <p>{% trans "O Tintz surge como a id&eacute;ia de unir quadrinistas e f&atilde;s de quadrinhos em uma plataforma &uacute;nica para intera&ccedil;&atilde;o, publica&ccedil;&atilde;o e leitura!" %}
        <br>

        <p>{% trans "Atrav&eacute do Tintz qualquer pessoa pode publicar quadrinhos, tiras, ilustra&ccedil;&otilde;es, roteiros e afins de sua autoria, se tornar conhecido e interagir com seus leitores." %}
        <p>{% trans "Siga seus autores preferidos, comente, avalie, escreva em seu blog" %}
        <p>{% trans "Acompanhe novas publica&ccedil;&otilde;es em tempo real!" %}
        <p>{% trans "Tudo isso &eacute poss&iacute;vel atrav&eacute;s de uma &uacute;nica rede social." %}

        <p>{% trans "D&uacute;vidas, sugest&otilde;s, reclama&ccedil;&otilde;s e falhas envie email para tintz@tintz.com.br ou entre em contato pelo twitter " %}<a href="http://www.twitter.com/tintz_" target="_blank">{% trans "@tintz_" %}</a>.

        <p>{% trans "Tintz" %}

        </div>

        <img class="hline" src="{{ MEDIA_URL }}images/hline.png">

        <ul class="span-4 last login-links">
        <li><a href="{% url acct_forgot_password %}">{% trans "Perdeu sua senha?" %}</a></li>
        <li><a href="{% url acct_signup %}">{% trans "Ainda n&atilde;o &eacute; cadastrado?" %}</a></li>
        <li><a href="{% url whats_tintz %}">{% trans "O que &eacute; Tintz?" %}</a></li>
        </ul>

    </div>

{% endblock %}

