{% extends "site_base_logout.html" %}

{% load i18n %}

{% block head_title %}{% trans "Tintz - Esqueceu sua senha" %}{% endblock %}

{% block login %}

    <img class="img-login" src="{{ MEDIA_URL }}images/previa1.jpg"></img>

    <div class="span-8 last" id="cont-login">
        <img class="login-img" src="{{ MEDIA_URL }}images/tintz_register.png">

        <img class="hline" src="{{ MEDIA_URL }}images/hline.png">

        <form class="form-login" method="POST" action="">
            <fieldset class="tintz-form">
                <div class="span-7 errorlist pull-1">
                    <ul>
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <li>{{error}}</li>
                        {% endfor %}
                    {% endfor %}
                    </ul>
                </div>

                {% if sent_email %}
                <div class="message-form span-7 last push-3">{{sent_email}}</div>
                {% endif %}

                <label for="{{form.email.auto_id}}" class="span-5 login-label last">{{form.email.label}}</label>
                <div class="span-5 last">{{ form.email }}</div>

                <div class="bt-email span-2 last" >
                    <input type="image" id="login-bt-ok" src="{{MEDIA_URL}}images/button_ok.png" title="Enviar" />
                </div>

            </fieldset>
        </form>
        <div class="hline_bottom"><img src="{{ MEDIA_URL }}images/hline.png"></div>

        <ul class="span-4 last login-links">
        <li><a href="{% url acct_login %}">{% trans "J&aacute; &eacute; cadastrado?" %}</a></li>
        <li><a href="{% url whats_tintz %}">{% trans "O que &eacute; Tintz?" %}</a></li>
        </ul>

    </div>


{% endblock %}
