{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Tintz - Login" %}{% endblock %}

{% block login %}

    <div class="span-12 suggestions">
        <h>{% trans "Sugest&otilde;es de leitura" %}</h>
        <div class="suggestions">
            <table>
                {% for publication in publications %}
                    {% if forloop.counter0|divisibleby:"3" %}<tr>{% endif %}
                    <td class="span-4 publication-profile">
                         <a href="{% url publication_details publication.author publication.id %}">
                         <img src="{{ MEDIA_URL }}{{ publication.get_thumbnail150_name|urlencode }}" href="{% url publication_details publication.author publication.id %}" alt="{{ publication.title }}"/></a>
                    </td>
                {% endfor %}
                {% if publications|length|divisibleby:"3" %}{% else %}</tr>{% endif %}
            </table>
        </div>
    </div>

    <div class="span-8  last" id="cont-login">
        <div class="login-img">
            <img src="{{ MEDIA_URL }}images/tintz_login.png">
        </div>

        <img class="hline" src="{{ MEDIA_URL }}images/hline.png">

        <form class="form-login" method="POST" action="">
            <fieldset class="tintz-form">
                <div class="span-7 errorlist pull-1">
                    <ul>
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <li>{{error}}</li>
                        {% endfor %}
                    {% endfor %}
                    </ul>
                </div>

                <label for="{{form.username.auto_id}}" class="span-7 last login-label">{{form.username.label}}</label>
                <div class="span-7 last">{{ form.username }}</div>

                <label for="{{form.password.auto_id}}" class="span-7 last login-label">{{form.password.label}}</label>
                <div class="span-4 last">{{ form.password }}</div>

                <div class="span-1 last">
                    <input type="image" id="login-bt-ok" src="{{MEDIA_URL}}images/button_ok.png" title="Login" />
                </div>

                <label for="{{form.remember.auto_id}}" class="span-4 login-label">{{form.remember.label}}</label>
                <div class="span-2 last" id="login-remember">{{ form.remember }}</div>
            </fieldset>
        </form>

        <img class="hline" src="{{ MEDIA_URL }}images/hline.png">

        <ul class="span-4 last login-links">
        <li><a href="{% url acct_forgot_password %}">{% trans "Esqueceu sua senha?" %}</a></li>
        <li><a href="{% url acct_signup %}">{% trans "Ainda n&atilde;o &eacute; cadastrado?" %}</a></li>
        <li><a href="{% url whats_tintz %}">{% trans "O que &eacute; Tintz?" %}</a></li>
        </ul>

    </div>

{% endblock %}

{% block extra_body %}
<script>
    document.getElementById("id_username").focus();
</script>
{% endblock %}