{% extends "account/base.html" %}

{% load i18n %}s

{% block head_title %}{% trans "Alterar Senha" %}{% endblock %}

{% block body %}
    <div class="tintz-title">{% trans "Minha Conta" %}</div>

    <div class="tintz-title2">{% trans "Alterar Senha" %}</div>
    
    {% if user.is_authenticated %}
        <p><span class="warning">{% trans "Nota" %}</span>: {% blocktrans %}Voc&ecirc; j&aacute; est&aacute; logado como {{ user }}.{% endblocktrans %}</p>
    {% endif %}
    
    <p>{% trans "Esqueceu a senha? Entre seu email abaixo, e lhe enviaremos uma nova senha." %}</p>
    
    <form method="POST" action="" class="uniForm">
        <fieldset class="inlineLabels">
            {{ password_reset_form|as_uni_form }}
             <div class = "form_block">
                 <input type="submit" value="{% trans "Alterar Senha" %}" />
            </div>
        </fieldset>
    </form>
    
        <p>{% blocktrans %}Qualquer problema, d&uacute;vida ou sugest&atilde;o, entre em contato: <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>.{% endblocktrans %}</p>
        
{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
