{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Alterar Senha" %}{% endblock %}

{% block body %}
    <h1>{% trans "Alterar Senha" %}</h1>
    
    {% if user.is_authenticated %}
        <p><span class="warning">{% trans "Nota" %}</span>: {% blocktrans %}Voc&ecirc; j&aacute; est&aacute; logado como {{ user }}.{% endblocktrans %}</p>
    {% endif %}
    
    <p>{% blocktrans %}Uma Nova Senha foi enviada para <b>{{ email }}</b>. Se voc&ecirc; n&atilde;o receber em alguns minutos, entre em contato: <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>.{% endblocktrans %}</p>
    
    {% url acct_login as login_url %}
    <p>{% blocktrans %}Quando receber a nova senha <a href="{{ login_url }}">login</a> e altere a mesma assim que possivel.{% endblocktrans %}</p>
{% endblock %}
