{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Alterar Senha" %}{% endblock %}

{% block body %}
    <div class="tintz-title">{% trans "Minha Conta" %}</div>
    <div class="tintz-title2">{% trans "Alterar Senha" %}</div>
    
    <form method="POST" action="" class="uniForm">
        <fieldset class="inlineLabels">
            {{ password_change_form|as_uni_form }}
             <div class = "form_block">
                 <input type="submit" name="action" value="{% trans "Alterar Senha" %}"/>
            </div>
        </fieldset>
    </form>
{% endblock %}
