{% extends "site_base.html" %}

{% load i18n %}
{% load humanize i18n %}
{% load pagination_tags %}
{% load timezone_filters %}
{% load tagging_tags %}
{% load threadedcommentstags %}
{% load pagination_tags %}
{% load comments_tag %}

{% block head_title %}{% trans "Tintz - Publica&ccedil;&otilde;es" %}{% endblock %}

{% block extra_body %}
    {% if user.is_authenticated %}
    {% else %}
        {% url acct_signup as signup_url %}
        {% url acct_login as login_url %}
        <p>{% blocktrans %}Voc&ecirc; pode <a href="{{ signup_url }}">se cadastrar</a> ou <a href="{{ login_url }}">logar.</a>{% endblocktrans %}</p>
    {% endif %}
{% endblock %}

{% block main_content %}
<div class="span-8" id="left-panel">
    {% include "profiles/profile_left_panel.html" %}
</div>
<div class="span-14 last" onload="Dajaxice.publications.set_stars('Dajax.process',{'score':{{publication_score}} })">
    <div class="title"><img src="{{MEDIA_URL}}/images/bt_publications.png">Publica&ccedil;&otilde;es / {{ publication.title }}</div>
    {% if publication %}
	{% if not publication.is_public and not user.is_authenticated %}
	    Publica&ccedil;&atilde;o não compartilhada, favor logar para visualiza-la
	{% else %}

	    <div class="publication_page last">
	       {% if pages %}
		  {% for pagenr in pages.object_list %}
		     <img src="{{ MEDIA_URL }}{{ publication.get_basename }}_{{pagenr|stringformat:"03d"}}_thumb700{{file_ext}}" alt="{{ publication.title }}"/>
		  {% endfor %}
	       {% endif %}
	    </div>

	    <div class="navigator span-2">
		{% if pages.has_previous %}
		    <div class="prev_arrow"><a href="?page={{ pages.previous_page_number }}"><<</a></div>
		{% else %}
		    <div class="prev_arrow_inactive"><<</div>
		{% endif %}
		<div class="page_number">{% trans "P&aacute;gina" %} {{ pages.number|stringformat:"03d" }}</div>
		{% if pages.has_next %}
		    <a class="next_arrow" href="?page={{ pages.next_page_number }}">>></a>
		{% else %}
		    <div class="next_arrow_inactive">>></div>
		{% endif %}
	    </div>

	    <div class="fullscreen span-1"><div class="fullscreen-text" >{% trans "Tela cheia" %}</div><a href="{% url publication_viewer user publication.id %}" target="_blank"><img src="{{MEDIA_URL}}/images/fullscreen.png"></a></div>
	    <div id="share" class="share span-1"><div class="share-text">{% trans "Compartilhe" %}</div><a href=""><img src="{{MEDIA_URL}}/images/share.png"></a></div>
	    <div class="rate span-1"><div class="rate-text">{% trans "Avalia&ccedil;&atilde;o" %}</div><a href=""></a></div>

	    <div class="stars span-2 last">
                <img class="star" id="star1" src="{{MEDIA_URL}}/images/star_empty.png" onmouseout="Dajaxice.publications.cur_score('Dajax.process',{'publication_id':{{publication.id}}})" onmouseover="Dajaxice.publications.set_stars('Dajax.process',{'score':1 })" onclick="Dajaxice.publications.vote_star('Dajax.process',{'publication_id':{{publication.id}}, 'score':1 })" />
                <img class="star" id="star2" src="{{MEDIA_URL}}/images/star_empty.png" onmouseout="Dajaxice.publications.cur_score('Dajax.process',{'publication_id':{{publication.id}}})" onmouseover="Dajaxice.publications.set_stars('Dajax.process',{'score':2 })" onclick="Dajaxice.publications.vote_star('Dajax.process',{'publication_id':{{publication.id}}, 'score':2 })" />
                <img class="star" id="star3" src="{{MEDIA_URL}}/images/star_empty.png" onmouseout="Dajaxice.publications.cur_score('Dajax.process',{'publication_id':{{publication.id}}})" onmouseover="Dajaxice.publications.set_stars('Dajax.process',{'score':3 })" onclick="Dajaxice.publications.vote_star('Dajax.process',{'publication_id':{{publication.id}}, 'score':3 })" />
                <img class="star" id="star4" src="{{MEDIA_URL}}/images/star_empty.png" onmouseout="Dajaxice.publications.cur_score('Dajax.process',{'publication_id':{{publication.id}}})" onmouseover="Dajaxice.publications.set_stars('Dajax.process',{'score':4 })" onclick="Dajaxice.publications.vote_star('Dajax.process',{'publication_id':{{publication.id}}, 'score':4 })" />
                <img class="star" id="star5" src="{{MEDIA_URL}}/images/star_empty.png" onmouseout="Dajaxice.publications.cur_score('Dajax.process',{'publication_id':{{publication.id}}})" onmouseover="Dajaxice.publications.set_stars('Dajax.process',{'score':5 })" onclick="Dajaxice.publications.vote_star('Dajax.process',{'publication_id':{{publication.id}}, 'score':5 })" />
            </div>
	    <div class="comments">

		{% comments publication %}
	    </div>
	{% endif %}
    {% endif %}
</div>
{% endblock %}

{% block extra_elements %}

    <script type="text/javascript">
    window.onload=Dajaxice.publications.set_stars('Dajax.process',{'score':{{publication_score}} });
    </script>

    <script type="text/JavaScript">
    function fullScreen(theURL) {
    window.open(theURL, '', 'fullscreen=yes, scrollbars=auto');
    }
    </script>

{% endblock %}