{% extends "site_base.html" %}

{% load i18n %}
{% load humanize i18n %}
{% load pagination_tags %}
{% load timezone_filters %}
{% load tagging_tags %}
{% load threadedcommentstags %}
{% load pagination_tags %}
{% load comments_tag %}

{% block head_title %}{% trans "Tintz - Publica&ccedil;&otilde;es" %}{% endblock %}

{% block extra_body %}
    {% if user.is_authenticated %}
    {% else %}
        {% url acct_signup as signup_url %}
        {% url acct_login as login_url %}
        <p>{% blocktrans %}Voc&ecirc; pode <a href="{{ signup_url }}">se cadastrar</a> ou <a href="{{ login_url }}">logar.</a>{% endblocktrans %}</p>        
    {% endif %}     
{% endblock %}

{% block main_content %}
<div class="span-8" id="left-panel">
    {% include "profiles/profile_left_panel.html" %}
</div>
<div class="span-14 last">
    <div class="title"><img src="{{MEDIA_URL}}/images/bt_publications.png">Publica&ccedil;&otilde;es / {{ publication.title }}</div>
    {% if publication %}
	{% if not publication.is_public and not user.is_authenticated %}
	    Publica&ccedil;&atilde;o não compartilhada, favor logar para visualiza-la
	{% else %}
	    
	    <div class="publication_page">
	       {% if pages %}        
		  {% for pagenr in pages.object_list %}
		     <img src="{{ MEDIA_URL }}{{ publication.get_basename }}_{{pagenr|stringformat:"03d"}}_thumb700{{file_ext}}" alt="{{ publication.title }}"/>
		  {% endfor %}
	       {% endif %}
	    </div>
	    
	    <div class="navigator">
		{% if pages.has_previous %}
		    <div class="prev_arrow"><a href="?page={{ pages.previous_page_number }}"><<</a></div>
		{% else %}
		    <div class="prev_arrow_inactive"><<</div>
		{% endif %}		
		<div class="page_number">{% trans "P&aacute;gina" %} {{ pages.number }}</div>
		{% if pages.has_next %}
		    <a class="next_arrow" href="?page={{ pages.next_page_number }}">>></a>
		{% else %}
		    <div class="next_arrow_inactive">>></div>
		{% endif %}		
	    </div>
	    
	    <div class="fullscreen"><div class="fullscreen-text">{% trans "Tela cheia" %}</div><a href=""><img src="{{MEDIA_URL}}/images/fullscreen.png"></a></div>
	    <div class="share"><div class="share-text">{% trans "Compartilhe" %}</div><a href=""><img src="{{MEDIA_URL}}/images/share.png"></a></div>	    
	    
	    <div class="comments">
		{% comments publication %}
	    </div>
	{% endif %}
    {% endif %}
</div>
{% endblock %}


{% comment %}
{% extends "publications/base.html" %}

{% load i18n %}
{% load humanize %}
{% load tagging_tags %}
{% load markup %}
{% load comments_tag %}
{% load flagtags %}
{% load show_stars %}

{% block head_title %}{% blocktrans %}Detalhes da Publica&ccedil;&atilde;o{% endblocktrans %}{% endblock %}

{% block center_panel %}
     <div class="tintz-title">{% trans "Detalhes da Publicação" %}</div>
    
    <div id="publication_details">
        {% if publication %}
            <div class="title">
            {{ publication.title }}
            </div>

            <div class="cover">
            {% ifequal publication.status 0 %}            
                <img src="{{ MEDIA_URL }}images/unknown_256.jpg">
            {% else %}
                <a href="{% url publication_viewer publication.author publication.id %}" onclick="return popitup('{% url publication_viewer publication.author publication.id %}',{{ publication.title }})"><img src="{{ MEDIA_URL }}{{ publication.get_thumbnail256_name }}" alt="{{ publication.title }}"/></a>
            {% endifequal %}
            </div>
            <div class="description">
                {{ publication.description }}
            </div>
            <div class="category">
                Categoria: {{ publication.category }}
            </div>
            <div class="tags">
                Tags: {{ publication.tags }}
            </div>
            <div class="views">
                Visualiza&ccedil;oes: {{ publication.views }}
            </div>

            {% if publication.rate %}
               Avalia&ccedil;&atilde;o: {{ publication.format_rate }}
            {% endif %}
            
	        {% if is_me %}
            {% else %}
                <div id="stars">{% show_stars publication_score of 5 round to full on change call myCallback with 1 %}</div>
                <form name="star_rate" action="{% url publication_details publication.author publication.id %}" method="post">
                <input type="hidden" name="rate" value=0></form>
            {% endif %}
            {% ifnotequal publication.status 0 %}
                <a href="{% url publication_viewer publication.author publication.id %}" onclick="return popitup('{% url publication_viewer publication.author publication.id %}',{{ publication.title }})">Visualizar</a>
            {% endifnotequal %}
            
            
  
        {% else %}
            Nenhuma Publica&ccedil;&atilde;o.
        {% endif %}        
    </div>       
    
    <div id="publications_related">
    {% if related_publications %}
        {% trans 'Publicações Relacionadas' %}
        <table>
        {% for related_publication in related_publications %}
            {% if forloop.counter0|divisibleby:"3" %}<tr>{% endif %}
            
            {% ifnotequal related_publication publication %}
               <td>
               <div class="details"><a href="{% url publication_details related_publication.author related_publication.id %}" title="{{ related_publication.title }} de {{ related_publication.author.get_profile.first_name }} {{ related_publication.author.get_profile.last_name }}"> <img src="{{ MEDIA_URL }}{{ related_publication.get_thumbnail128_name }}"/> </a></div>
               </td>
            {% endifnotequal %}
            
            {% if forloop.counter0|add:"1"|divisibleby:"3" %}</tr>{% endif %}
        {% endfor %}
        {% if related_publications|length|divisibleby:"3" %}{% else %}</tr>{% endif %}
        </table>
    {% endif %}    
    </div>

    <div class="comments">
    Coment&aacute;rios da Publica&ccedil;&atilde;o
    {% comments publication %}
    </div>
    
    
{% endblock %}



{% block extra_elements %}


    <script type="text/javascript" src="/site_media/js/prototype.js"></script>
    {% show_stars_script %}

    <script type="text/javascript">
    function myCallback(id, pos) {
      document.star_rate.rate.value = pos;
      document.star_rate.submit();
    }
    </script>

{% endblock %}

{% endcomment %}