{% extends "publications/base.html" %}

{% load i18n %}
{% load humanize %}
{% load pagination_tags %}
{% load tagging_tags %}
{% load markup %}
{% load threadedcommentstags %}

{% block head_title %}{% blocktrans %}Editar Publicação{% endblocktrans %}{% endblock %}

{% block body %}
   <body onload="FilterRates({{ other_user.get_profile.age }})"></body>    
    <div id="basic-form">
        <fieldset>
            <legend>{% trans "Editar Publica&ccedil;&atilde;o" %}</legend>
	    
            {% ifequal publication.status 0 %}            
                <img src="{{ MEDIA_URL }}images/unknown_256.jpg">
            {% else %}
                <img src="{{ MEDIA_URL }}{{ publication.get_thumbnail256_name }}" alt="{{ publication.title }}"/>
            {% endifequal %}

            <legend>{{ publication.title }}</legend>            

            <form enctype="multipart/form-data"  action="" method="POST" id="publication_form">
                <table>
                <tr><td colspan="2">{{ publication_form.non_field_errors }}</td></tr>
                {% for field in publication_form %}
                    {% if field.errors %}
			<tr>
			  <td>{{ field.errors }}</td>
			</tr>
		    {% endif %}
                    <tr>
		      <td width="100px" valign="top">{{ field.label_tag }}</td><td>{{ field }}</td></tr>
                    {% if field.help_text %}
		      <tr>
			<td colspan="2"><span>{{ field.help_text }}</span></td></tr>
		    {% endif %}
                {% endfor %}
                <tr><td width="150px"></td><td><input type="hidden" name="action" value="update" /><input type="submit" value="Atualizar" class="button" /></td></tr>
                </table>
            </form>
        </fieldset>
    </div>

{% endblock %}

{% block extra_body_base %}
<script language="javascript" src="{{MEDIA_URL}}js/form_publication.js">
</script>
{% endblock %}
