{% extends "site_base.html" %}

{% load i18n %}
{% load humanize i18n %}
{% load pagination_tags %}
{% load timezone_filters %}
{% load tagging_tags %}
{% load threadedcommentstags %}

{% block head_title %}{% trans "Tintz - Publica&ccedil;&otilde;es" %}{% endblock %}

{% block extra_body %}
    {% if user.is_authenticated %}
    {% else %}
        {% url acct_signup as signup_url %}
        {% url acct_login as login_url %}
        <p>{% blocktrans %}Voc&ecirc; pode <a href="{{ signup_url }}">se cadastrar</a> ou <a href="{{ login_url }}">logar.</a>{% endblocktrans %}</p>        
    {% endif %}     
{% endblock %}

{% block main_content %}
<div class="span-8" id="left-panel">
    {% include "profiles/profile_left_panel.html" %}
</div>
<div class="span-14 last">
    <div class="title"><img src="{{MEDIA_URL}}/images/bt_publications.png">Publica&ccedil;&otilde;es</div>
	{% for publication in publications %}



	<div class="span-4 publications-cover">
	{% ifequal publication.status 0 %}
	    <img src="{{ MEDIA_URL }}images/cover_default160.png">
	{% else %}
	     <a href="{% url publication_details publication.author publication.id %}">
		 <img src="{{ MEDIA_URL }}{{ publication.get_thumbnail150_name }}" href="{% url publication_details publication.author publication.id %}" alt="{{ publication.title }}"/></a>
	{% endifequal %}
	</div>

	<div class="span-5 list-title">
	{% ifequal publication.status 0 %}
	    {{ publication.title }}
	{% else %}
	    <a href="{% url publication_details publication.author publication.id %}">{{ publication.title }}</a>
	{% endifequal %}
	</div>

	<div class="span-8 last list-description">{{ publication.description }}</div>
	
	<div class="list-subtitle"> {{publication.nr_pages}} p&aacute;gina{{publication.nr_pages|pluralize}}</div>
	
	{% if is_me %}
	    <div class="span-1 list-button"><a href="{% url edit_publication publication.id %}" ><img src="{{ MEDIA_URL }}images/publication_edit.png" title="Editar Publicação"></img></a></div>
	    <div class="span-1 list-button last"><a href="{% url destroy_publication publication.id %}" onclick=" ConfirmChoice('{% url destroy_publication publication.id %}'); return false;"><img src="{{ MEDIA_URL }}images/publication_delete.png" title="Excluir Publicação"></img></a></div>
	{% endif %}	

	
    {% endfor %}	    
    
    
</div>
{% endblock %}

{% block extra_elements %}
    <script type="text/javascript">
    function ConfirmChoice(del_url)
    {
	    answer = confirm("Tem certeza que deseja excluir essa publicação?")
	    if (answer !=0)
	    {
		    location = del_url
	    }
    }
    </script>    
{% endblock %}



{% comment %}

{% extends "publications/base.html" %}

{% load i18n %}
{% load humanize %}
{% load pagination_tags %}
{% load tagging_tags %}
{% load threadedcommentstags %}

{% block head_title %}{% blocktrans %}Enviar Publicação{% endblocktrans %}{% endblock %}

{% block center_panel %}

  <div class="tintz-title">Enviar Publicação</div>

   <body onload="FilterRates({{ other_user.get_profile.age }})"></body>
   <div class="tintz-title">{% trans "Enviar Publica&ccedil;&atilde;o" %}</div>
    <div id="basic-form">
        <fieldset>            
            <div class="warning">{% trans "Apenas os seguintes formatos são aceitos: (PDF, JPG, PNG, GIF)" %}</div>
            <form enctype="multipart/form-data"  action="upload" method="POST" id="publication_form">
                <table>
                <tr><td colspan="2">{{ publication_form.non_field_errors }}</td></tr>
                {% for field in publication_form %}
                    {% if field.errors %}
                        <tr><td>{{ field.errors }}</td></tr>
        		    {% endif %}
                    <tr>
		            <td width="100px" valign="top" align="right">{{ field.label_tag }}</td><td>{{ field }}</td></tr>
            	    {% if field.help_text %}
		               <tr><td colspan="2"><span>{{ field.help_text }}</span></td></tr>
                    {% endif %}
                {% endfor %}
                <tr><td width="150px"></td><td><input type="hidden" name="action" value="upload" /><input type="submit" value="Enviar" class="button" /></td></tr>
                </table>
            </form>
        </fieldset>
    </div>

{% endblock %}

{% block extra_body_base %}

<script language="javascript" src="{{MEDIA_URL}}js/form_publication.js">
</script>

{% endblock %}


{% endcomment %}





{% comment %}
{% extends "publications/base.html" %}

{% load i18n %}
{% load humanize %}
{% load pagination_tags %}
{% load tagging_tags %}
{% load threadedcommentstags %}

{% block head_title %}{% blocktrans %}{{title}}{% endblocktrans %}{% endblock %}

{% block extra_body %}
    {% if user.is_authenticated %}
    {% else %}
        {% url acct_signup as signup_url %}
        {% url acct_login as login_url %}
        <p>{% blocktrans %}Voc&ecirc; pode <a href="{{ signup_url }}">se cadastrar</a> ou <a href="{{ login_url }}">logar.</a>{% endblocktrans %}</p>        
    {% endif %}     
{% endblock %}

{% block center_panel %}    

    <div class="tintz-title">{% blocktrans %}{{title}}{% endblocktrans %}</div>

    {% if publications %}
        {% autopaginate publications 5 %}
            <div class="publications_list clearfix"> 
            <table>        
	            {% for publication in publications %}
                    <tr class="{% cycle publications_list1,publications_list2 %}">
                    <td rowspan="2">
                    {% ifequal publication.status 0 %}
                        <img src="{{ MEDIA_URL }}images/unknown_128.jpg">
                    {% else %}
                         <a href="{% url publication_details publication.author publication.id %}">
                  	     <img src="{{ MEDIA_URL }}{{ publication.get_thumbnail150x200_name }}" href="{% url publication_details publication.author publication.id %}" alt="{{ publication.title }}"/></a>
                    {% endifequal %}             
                    </td>
                    <td>
                    {% ifequal publication.status 0 %}
                        {{ publication.title }}
                    {% else %}
                        <a href="{% url publication_details publication.author publication.id %}">{{ publication.title }}</a>
                    {% endifequal %}
                    </td>
            	    {% if is_me %}
                        <td> <a href="{% url edit_publication publication.id %}" ><img src="{{ MEDIA_URL }}images/simplicio-icon-set/32x32/document_edit.png" title="Editar"></img></a></td>                
                        <td> <a href="{% url destroy_publication publication.id %}" onclick=" ConfirmChoice('{% url destroy_publication publication.id %}'); return false;"><img src="{{ MEDIA_URL }}images/simplicio-icon-set/32x32/document_delete.png" title="Excluir"></img></a></td>
                    {% endif %}
                
                    </tr>
                    <tr>            
                    <td colspan="3">
                    {{ publication.description }}
                    </td>
                    </tr>        
                {% endfor %}	    
            </table>
            </div>
        {% paginate %}
    {% else %}
        <p>{% trans "Nenhuma publica&ccedil;&atilde;o." %}</p>
    {% endif %}
    
{% endblock %}

{% block extra_elements %}
    <script type="text/javascript">
    function ConfirmChoice(del_url)
    {
	    answer = confirm("Tem certeza que deseja excluir essa publicação?")
	    if (answer !=0)
	    {
		    location = del_url
	    }
    }
    </script>    
{% endblock %}

{% endcomment %}
