{% extends "base.html" %}

{% load i18n %}
{% load humanize %}

{% block head_title %}{% trans "Tintz - Publica&ccedil;&atilde;o" %}{% endblock %}

{% block body %}
<style type="text/css">
body{
   background: black;
}
</style>
<div id="viewer-body">
    <div class="container">
        <div class="viewer">
            <div id="container span-22">
                <div class="span-3 left-view">
                    <div class="span-5 logo-tintz-black last"><img src="{{MEDIA_URL}}images/logo_tintz_black.png"/></div>
                    <div class="publication-title span-5 last">
                        {{ publication.title }}
                    </div>
                    <div class="publication-description span-3 last">
                        {{ publication.description }}
                    </div>
                </div>

                <div class="page-full span-9">
                    {% if pages %}
                       {% for pagenr in pages.object_list %}
                          <img id="page_publication" src="{{ MEDIA_URL }}{{ publication.get_basename }}_{{pagenr|stringformat:"03d"}}_thumb700{{file_ext}}" alt="{{ publication.title }}"/>
                       {% endfor %}
                    {% endif %}
                </div>

                <div class="right-view span-10 last">
                    <div class="navigator-full span-2">

                        <div class="prev_arrow-full" onclick="Dajaxice.publications.change_page('Dajax.process',{'image_file': document.getElementById('page_publication').src, 'publication_id': {{ publication.id }},'change':-1 })"><<</div>
                        <div id="page_number_text" class="page_number-full">{% trans "P&aacute;gina" %} {{ pages.number|stringformat:"03d" }}</div>
                        <div class="next_arrow-full" onclick="Dajaxice.publications.change_page('Dajax.process',{'image_file': document.getElementById('page_publication').src, 'publication_id': {{ publication.id }},'change':1  })">>></div>

                    </div>
                    <div class="fullscreen-close span-2 last"><div class="fullscreen-close-text">{% trans "Fechar" %}</div><a href="javascript:window.close();"><img src="{{MEDIA_URL}}/images/fullscreen_close.png"></a></div>

                    <div class="page-viewer span-5 last">
                        {% if pages %}
                           <table>
                           {% for pagenr in pages_viewer.object_list %}
                           {% if forloop.counter0|divisibleby:"3" %}<tr>{% endif %}
                              <td class="thumb-page">
                                <div class="thumb-page-click" onclick="Dajaxice.publications.change_to_newpage('Dajax.process',{'image_file': document.getElementById('page_publication').src, 'publication_id': {{ publication.id }},'new_page':{{ pagenr }} })">
                                <img src="{{ MEDIA_URL }}{{ publication.get_basename }}_{{pagenr|stringformat:"03d"}}_thumb064{{file_ext}}" title="P&aacute;gina    {{ pagenr }}"/>
                                </div>
                              </td>
                              {% if forloop.counter0|add:"1"|divisibleby:"3" %}</tr>{% endif %}
                           {% endfor %}
                           {% if pages_viewer.object_list|length|divisibleby:"3" %}{% else %}</tr>{% endif %}
                           </table>
                        {% endif %}
                    </div>

                    <div class="navigator-viewer span-2">
                        {% if pages_viewer.has_previous %}
                            <div class="prev_arrow-viewer"><a href="?page_view={{ pages_viewer.previous_page_number }}"><<</a></div>
                        {% else %}
                            <div class="prev_arrow_inactive-viewer"><<</div>
                        {% endif %}
                        {% if pages_viewer.has_next %}
                            <a class="next_arrow-viewer" href="?page_view={{ pages_viewer.next_page_number }}">>></a>
                        {% else %}
                            <div class="next_arrow_inactive-viewer">>></div>
                        {% endif %}
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_elements %}

    <script type="text/javascript">

    function handleArrowKeys(evt) {
        evt = (evt) ? evt : ((window.event) ? event : null);
        if (evt) {
            switch (evt.keyCode) {
                //Left
                case 37:
                    Dajaxice.publications.change_page('Dajax.process',{'image_file': document.getElementById('page_publication').src, 'publication_id': {{ publication.id }},'change':-1 })
                    break;
                //Right
                case 39:
                    Dajaxice.publications.change_page('Dajax.process',{'image_file': document.getElementById('page_publication').src, 'publication_id': {{ publication.id }},'change':1  })
                    break;
             }
        }
    }

function close_window() {
    netscape.security.PrivilegeManager.enablePrivilege("UniversalBrowserWrite");
    alert("This will close the window");
    window.open('','_self');
    window.close();
}
    document.onkeyup = handleArrowKeys;

    </script>

{% endblock %}
