{% extends "publications/base.html" %}

{% load i18n %}
{% load humanize %}
{% load tagging_tags %}
{% load markup %}
{% load comments_tag %}
{% load flagtags %}
{% load pagination_tags %}

{% block body %}
  
    <div>    
    {% if publication %}
        {% if not publication.is_public and not user.is_authenticated %}
            Publicação não compartilhada, favor logar para visualiza-la
        {% else %}
    	    <div class="photo-title">
            <h2>{{ publication.title }}</h2>
            </div>
            {% autopaginate pages 1 %}
               {% if pages %}        
                  {% for pagenr in pages %}
                     <img src="{{ MEDIA_URL }}{{ publication.get_basename }}.{{pagenr}}{{file_ext}}" alt="{{ publication.title }}"/>
                  {% endfor %}
               {% endif %}
            {% paginate %}
        {% endif %}
    {% else %}
        <p>Nenhuma Publica&ccedil;&atilde;o.</p>
    {% endif %}
    </div>
    
{% endblock %}
