{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Tintz - Cadastro" %}{% endblock %}

{% block login %}

    <img class="img-login" src="{{ MEDIA_URL }}images/previa2.jpg"></img>

    <div class="span-8 last" id="cont-login">
        <img class="login-img" src="{{ MEDIA_URL }}images/tintz_register.png">

        <img class="hline" src="{{ MEDIA_URL }}images/hline.png">

        <form class="form-login" method="POST" action="">
            <fieldset class="tintz-form">
                <div class="span-7 errorlist pull-1">
                    <ul>
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <li>{{error}}</li>
                        {% endfor %}
                    {% endfor %}
                    </ul>
                </div>

                <label for="{{form.username.auto_id}}" class="span-7 last login-label">{{form.username.label}}</label>
                <div class="span-7 last">{{ form.username }}</div>

                <label for="{{form.email.auto_id}}" class="span-7 last login-label">{{form.email.label}}</label>
                <div class="span-7 last">{{ form.email }}</div>

                <label for="{{form.password1.auto_id}}" class="span-7 last login-label">{{form.password1.label}}</label>
                <div class="span-4 last">{{ form.password1 }}</div>

                <label for="{{form.password2.auto_id}}" class="span-7 last login-label">{{form.password2.label}}</label>
                <div class="span-4 last">{{ form.password2 }}</div>

                <div class="span-1 last">
                    <input type="image" id="login-bt-ok" src="{{MEDIA_URL}}images/button_ok.png" title="Login" />
                </div>

                <label for="{{form.remember.auto_id}}" class="span-4 login-label">{{form.remember.label}}</label>
                <div class="span-2 last" id="login-remember">{{ form.remember }}</div>
            </fieldset>
        </form>
        <div class="hline_bottom"><img src="{{ MEDIA_URL }}images/hline.png"></div>

        <ul class="span-4 last login-links">
        <li><a href="{% url acct_login %}">{% trans "J&aacute; &eacute; cadastrado?" %}</a></li>
        <li><a href="{% url whats_tintz %}">{% trans "O que &eacute; Tintz?" %}</a></li>
        </ul>

    </div>


{% endblock %}

{% block extra_body %}
<script>
    document.getElementById("id_username").focus();
</script>
{% endblock %}