{% extends "site_base.html" %}

{% load i18n %}

{% block rtab_id %}id="blogs_tab"{% endblock %}

{% block subnav %}
    {% if user.is_authenticated %}
        <ul>
            <li><a href="{% url blog_list_all %} ">{% trans "Meu Blog" %}</a></li>
            <li><a href="{% url blog_list_yours %}">{% trans "Gerenciar Blog" %}</a></li>
            <li><a href="{% url blog_new %}">{% trans "Escreva um Novo Post" %}</a></li>
        </ul>
    {% else %}
        &nbsp;
    {% endif %}
{% endblock %}
