{% extends "site_base.html" %}

{% load i18n %}
{% load humanize i18n %}
{% load pagination_tags %}
{% load timezone_filters %}
{% load tagging_tags %}
{% load threadedcommentstags %}
{% load markup %}
{% load switchcase %}

{% block head_title %}{% trans "Tintz - Blog" %}{% endblock %}

{% block extra_body %}
    {% if user.is_authenticated %}
    {% else %}
        {% url acct_signup as signup_url %}
        {% url acct_login as login_url %}
        <p>{% blocktrans %}Voc&ecirc; pode <a href="{{ signup_url }}">se cadastrar</a> ou <a href="{{ login_url }}">logar.</a>{% endblocktrans %}</p>
    {% endif %}
{% endblock %}

{% block main_content %}
<div class="span-8" id="left-panel">
    {% include "profiles/profile_left_panel.html" %}
</div>
<div class="span-14 last">
    <div class="title"><img src="{{MEDIA_URL}}/images/bt_blog.png">Blog</div>

        <table class="span-14">
        {% for post in blogs %}
        <tr><td>
            <a class="span-5 list-title" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                <div class="list-subtitle last">{{ post.publish|date:"d/m/Y" }}</div>

                <div class="span-10 list-description last">
                {% with post.tease|truncatewords:"50" as body %}
                    {% if post.markup %}
                        {% switch post.markup %}
                            {% case 'rst' %}{{ body|restructuredtext|safe }}{% endcase %}
                            {% case 'mrk' %}{{ body|force_escape|markdown }}{% endcase %}
                            {% case 'txl' %}{{ body|force_escape|textile }}{% endcase %}
                        {% endswitch %}
                    {% else %}
                        {{ post.body|force_escape|linebreaks|safe }}
                    {% endif %}
                {% endwith %}
                </div>

              {% if is_me %}
                  <div class="span-1 list-button"><a href="{% url blog_edit post.id %}" ><img src="{{ MEDIA_URL }}images/publication_edit.png" title="Editar Post"></img></a></div>
                  <div class="span-1 list-button last"><a href="{% url blog_destroy post.id %}" onclick=" ConfirmChoice('{% url blog_destroy post.id %}'); return false;"><img src="{{ MEDIA_URL }}images/publication_delete.png" title="Excluir Post"></img></a></div>
              {% endif %}
            <div class="separator span-13 last"></div>
        </td></tr>
        {% endfor %}
        </table>
</div>
{% endblock %}

{% block extra_elements %}
    <script type="text/javascript">
    function ConfirmChoice(del_url)
    {
	    answer = confirm("Tem certeza que deseja excluir esse post?")
	    if (answer !=0)
	    {
		    location = del_url
	    }
    }
    </script>
{% endblock %}

