{% extends "blog/base.html" %}

{% load i18n %}
{% load pagination_tags %}
{% load blog_tags %}

{% block head_title %}{% blocktrans %}Blogs dos Seus Amigos{% endblocktrans %}{% endblock %}

{% block body %}
    
    <div class="tintz-title">{% blocktrans %}Blogs dos Seus Amigos{% endblocktrans %}</div>
    
    {% if object_list %}
        <p class="helptext">{% trans "Posts dos seus Amigos:" %}</p>
        
        {% autopaginate object_list %}
            
            {% for blog_post in object_list %}
                {% show_blog_post blog_post %}
            {% endfor %}
            
        {% paginate %}
        
    {% else %}
        {% trans "Sem Postagens at&eacute; o momento." %}
    {% endif %}
    
{% endblock %}
