{% extends "site_base_logout.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Tintz - Erro inesperado" %}{% endblock %}

{% block login %}

    <div class="span-8  last" id="cont-login">
        <div class="login-img">
            <img src="{{ MEDIA_URL }}images/tintz_login.png">
        </div>

        <img class="hline" src="{{ MEDIA_URL }}images/hline.png">

        <div class="span-6" id="whats_tintz">
            <p>{% trans "Erro 500" %}
            <p>{% trans "O Servidor se comportou de forma inesperada" %}
        </div>

        <img class="hline" src="{{ MEDIA_URL }}images/hline.png">

        <ul class="span-4 last login-links">
        <li><a href="{% url home %}">{% trans "Ir para o Ínicio" %}</a></li>
        </ul>

    </div>

{% endblock %}

{% block extra_body %}
<script>
    $("#id_username").focus();
</script>
{% endblock %}