{% extends "site_base_logout.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Tintz - Erro inesperado" %}{% endblock %}

{% block login %}

    <div class="span-8  last" id="cont-login">
        <div class="login-img">
            <a href="{% url home %}"><img src="/home/tintz/workspace/prod/tintz/site_media/tintz_top_logo.png"></a>
        </div>

        <img class="hline" src="/home/tintz/workspace/prod/tintz/site_media/images/hline.png">

        <div class="span-6" id="whats_tintz">
            <p>{% trans "Erro 500" %}
            <p>{% trans "O servidor parece que n&atilde;o est&aacute; colaborando." %}
            <p>{% trans "Nossa liga de her&oacute;is j&aacute; est&atilde;o resolvendo o problema." %}
        </div>

        <img class="hline" src="/home/tintz/workspace/prod/tintz/site_media/images/hline.png">

        <ul class="span-4 last login-links">
        <li><a href="{% url home %}">{% trans "Ir para o Ínicio" %}</a></li>
        </ul>

    </div>

{% endblock %}

{% block extra_body %}
<script>
    $("#id_username").focus();
</script>
{% endblock %}