{% extends "site_base.html" %}

{% load i18n %}
{% load humanize i18n %}
{% load timezone_filters %}
{% load tagging_tags %}
{% load avatar_tags %}

{% block head_title %}{% trans "Tintz - A Rede Social de Quadrinhos" %}{% endblock %}

{% block main_content %}
<div class="span-7" id="left-panel">
    {% if user.is_authenticated %}    
        {% include "profiles/profile_left_panel.html" %}
    {% else %}
        {% include "about/left_about.html" %}
    {% endif %}
</div>
<div class="span-9" id="center-panel">
    <div class="title-profile"><img src="{{MEDIA_URL}}/images/updates.png"><h2>Atualiza&ccedil;&otilde;es</h2></div>
    <div id="id_show_updates" class="show_updates span-9">
        {% if updates %}
            <class id="list-updates">
                {% include "follow/updates.html" %}
            </div>
            <div id="more_updates" class="more span-4 last">{% trans "Atualiza&ccedil;&otilde;es anteriores" %} >></div>
        {% else %}
            <div id="list-updates" class="list-updates">
                <div class="update-item span-9">
                    <div class="span-9 center-panel-message">
                        <p>{% trans "Voc&ecirc; ainda n&atilde;o possui atualiza&ccedil;&otilde;es." %}
                        <p>{% trans "Comece agora mesmo a navegar e seguir novos usu&aacute;rios." %}
                        <p>{% trans "Veja nossas sugest&otilde;es de leitura e pessoas no canto direito da p&aacute;gina." %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

<div class="span-8 last" id="right-panel">
    <div class="title-profile last"><img src="{{MEDIA_URL}}/images/bt_publications.png"><h2>Sugest&otilde;es</h2></div>
    <div class="recommended-publications last">
        <table style="width:350px">
            <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            </tr>
            {% for related_publication in related_publications %}
                {% if forloop.counter0|divisibleby:"2" %}<tr>{% endif %}
                <td class="recomend-publication span-2 last">
                    <a href="{% url publication_details related_publication.author related_publication.id %}">
                    <img src="{{ MEDIA_URL }}{{ related_publication.get_basename|urlencode }}_001_thumb130{{related_publication.images_ext}}" href="javascript:fullscreen('{% url publication_details related_publication.author related_publication.id %}')" title="{{ related_publication.title }}"/></a>
                </td>
            {% endfor %}
            {% if followings|length|divisibleby:"2" %}{% else %}</tr>{% endif %}
        </table>
    </div>

    <div class="title-profile"><img src="{{MEDIA_URL}}/images/bt_contacts.png"><h2>Quem seguir</h2></div>

    <div id="list-profiles" class="profiles">
    {% for profile in other_profiles %}
       <tr><td>
       <div class="profiles-item span-8">
       <div class="avatar span-2"><a href="{% url profile_detail profile.username %}" title="{{ profile.get_profile.first_name }} {{ profile.get_profile.last_name }}">{% avatar profile 70 %}</a></div>

       {% if profile.get_profile.last_name %}
          <div class="profiles-details span-4 last"><a href="{% url profile_detail profile.username %}" title="{{ profile.get_profile.first_name }} {{ profile.get_profile.last_name }}">{{ profile.get_profile.first_name }} {{ profile.get_profile.last_name }}</a></div>
       {% else %}
            <div class="profiles-details span-4 last"><a href="{% url profile_detail profile.username %}" title="{{ profile.username }}">{{ profile.username }}</a></div>
       {% endif %}


       <div class="profiles-about span-4 last">{{ profile.get_profile.get_small_about|linebreaks }}</div>
       </div>
       </td></tr>
    {% endfor %}

    </div>

</div>
{% endblock %}

{% block extra_body %}
<script type="text/javascript">
function more_updates() {
    $("#more_updates").click(
        function() {
            $('#id_show_updates').load("/profiles/get_updates/"+ document.getElementById('last_update').innerHTML);
        }
    );
}
$(document).ready(more_updates);
</script>
{% endblock %}
