{% extends "base.html" %}

{% load i18n %}
{% load svn_app_version %}
{% load analytics %}

{% block javascript %}
{% endblock %}

{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block body %}
<div id="main-body">
    <div class="container">

	{% if user.is_authenticated %}
	    <hr/>
	    <div class="span-10" id="tintz_logo">
		<img class="prepend-top" src="{{MEDIA_URL}}/images/tintz_top_logo.png">
	    </div>

	    <div class="span-12 last" id="top_menu">
		    <div class="prepend-top" style="text-align:center; width:541px; margin-left:auto; margin-right:auto;">
		    <img id="Image-Maps_7201008262104394" src="{{MEDIA_URL}}/images/top_bar.png" usemap="#Image-Maps_7201008262104394" border="0" width="541" height="45" alt="" />
		    <map id="_Image-Maps_7201008262104394" name="Image-Maps_7201008262104394">
		    <area shape="rect" coords="13,10,101,33" href="{% url home %}" alt="" title=""    />
		    <area shape="rect" coords="111,12,150,32" href="{% url profile_detail user %}" alt="" title=""    />
		    <area shape="rect" coords="160,13,212,31" href="{% url publication_upload %}" alt="" title=""    />
		    <area shape="rect" coords="225,13,314,31" href="{% url tintz_settings %}" alt="" title=""    />

            <form id="formsearch" class="form-search span-3" method="POST" action="{% url search_prepare %}">
                <input type="text" name="search_text" value="Buscar"/>
                <area shape="rect" coords="450,10,480,35" href="javascript: submitform();" alt="" title="Buscar"    />
            </form>

		    <area shape="rect" coords="492,12,525,32" href="{% url acct_logout %}" alt="" title=""    />
		    </map>
		    </div>
	    </div>



	    <div class="span-24 last prepend-1" id="main-content">
		{% block main_content %}{% endblock %}
	    </div>

	    {% if messages %}
		<ul id="messages">
		{% for message in messages %}
		    <li id="message_{{ forloop.counter }}"><a href="#" onclick="$('#message_{{ forloop.counter }}').fadeOut(); return false;"><small>{% trans "Limpar" %}</small></a> {{ message }}</li>
		{% endfor %}
		</ul>
	    {% endif %}

	{% else %}
	    <div class="span-24 push-5">
	    {% block login %}
	    {% endblock %}
	    </div>
	{% endif %}
    </div>
</div>
{% endblock %}

{% block extra_elements %}
    <script type="text/javascript">
    function submitform()
    {
      document.forms["formsearch"].submit();
    }
    </script>
{% endblock %}

{% block footer %}
<div class="footer span-24 last">
    {% trans "&copy; 2010 Tintz" %}
     <a href="{% url about %}">{% trans "Sobre" %}</a>
     <a href="{% url terms %}">{% trans "Termos de servi&ccedil;o" %}</a>
     <a href="{% url privacy %}">{% trans "Pol&iacute;tica de privacidade" %}</a>
</div>
{% endblock %}