{% extends "base.html" %}

{% load i18n %}
{% load svn_app_version %}
{% load analytics %}

{% block javascript %}
{% endblock %}

{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block body %}
<div class="container">

    <hr/>
    <div class="span-10" id="tintz_logo">
	<img class="prepend-top" src="{{MEDIA_URL}}/images/tintz_top_logo.png">
    </div>
    
    <div class="span-12 last" id="top_menu">
	{% if user.is_authenticated %}
	    <div class="prepend-top" style="text-align:center; width:541px; margin-left:auto; margin-right:auto;">
	    <img id="Image-Maps_7201008262104394" src="{{MEDIA_URL}}/images/top_bar.png" usemap="#Image-Maps_7201008262104394" border="0" width="541" height="45" alt="" />
	    <map id="_Image-Maps_7201008262104394" name="Image-Maps_7201008262104394">
	    <area shape="rect" coords="13,10,101,33" href="home" alt="" title=""    />
	    <area shape="rect" coords="111,12,150,32" href="profile" alt="" title=""    />
	    <area shape="rect" coords="160,13,212,31" href="publish" alt="" title=""    />
	    <area shape="rect" coords="225,13,314,31" href="settings" alt="" title=""    />
	    <area shape="rect" coords="492,12,525,32" href="logout" alt="" title=""    />
	    <area shape="rect" coords="539,43,541,45" href="http://www.image-maps.com/index.php?aff=mapped_users_7201008262104394" alt="Image Map" title="Image Map" />
	    </map>
	    </div>
	{% endif %}
    </div>	    
    
    <div class="span-24 last prepend-1" id="main-content">
	{% block main_content %}{% endblock %}
    </div>

    {% if messages %}
        <ul id="messages">
        {% for message in messages %}
            <li id="message_{{ forloop.counter }}"><a href="#" onclick="$('#message_{{ forloop.counter }}').fadeOut(); return false;"><small>{% trans "Limpar" %}</small></a> {{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

</div>                       
{% endblock %}

{% block footer %}
<div class="span-24 last">
    {% trans "&copy; 2009 Tint" %}
    - <a href="{% url about %}">{% trans "Sobre" %}</a>
    - <a href="{% url terms %}">{% trans "Termos de servi&ccedil;o" %}</a>
    - <a href="{% url privacy %}">{% trans "Pol&iacute;tica de privacidade" %}</a>
    - Powered by <a href="http://www.djangoproject.com" target=_blank>Django</a>
</div>
{% endblock %}

{% block extra_body_base %}
    {% urchin %}
    <script src="{{ MEDIA_URL }}base.js" type="text/javascript"></script>
    {% block extra_body %}{% endblock %}
{% endblock %}
