body {
    background: #f4e30c;
}

#main-body {
    background: #f4e30c;
    min-height: 600px;
    min-width: 100%;
}

#viewer-body {
    background: black;
}

#main-content {
    background: white;
    -moz-border-radius-topright: 15px; /* Firefox */
    -moz-border-radius-topleft: 15px; /* Firefox */
    -webkit-border-top-right-radius: 15px; /* Safari and Chrome */
    -webkit-border-top-left-radius: 15px; /* Safari and Chrome */
    border-top-right-radius: 15px; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
    border-top-left-radius: 15px; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
    min-height: 1300px;
    width: 1000px;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 20px;
}

.left-button {
    margin-top: 10px;
    background: #232323;
    height: 30px;
    width: 260px;
    -moz-border-radius: 8px; /* Firefox */
    -webkit-border-radius: 8px; /* Safari and Chrome */
    border-radius: 8px; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */

}

.left-button img {
    margin-top: 6px;
    margin-left: 10px;
    padding-right: 8px;
}

.left-button a, .left-button a:visited {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.tag_cloud, .tag_cloud a, .tag_cloud a:visited {
    position: relative;
    top: 20px;
    width: 260px;
    text-decoration: none;
    color: blue;
}

.title {
    position: relative;
    left: -40px;
    background: #232323;
    color: white;
    font-weight: bold;
    font-size: 14px;
    height: 30px;
    width: 700px;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari and Chrome */
    border-radius: 5px; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
}

.more {
    position: relative;
    top: 20px;
    left: -40px;
    text-align: right;
    background: #232323;
    color: white;
    font-weight: bold;
    font-size: 11px;
    height: 20px;
    width: 700px;
    cursor: pointer;
}

.title-profile {
    position: relative;
    left: -40px;
    background: #232323;
    color: white;
    font-weight: bold;
    font-size: 14px;
    height: 23px;
    width: 300px;
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari and Chrome */
    border-radius: 3px; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
    margin-bottom: 30px;

}

.title-profile a, .title-profile a:visited {
    text-decoration:none;
    position: relative;
    color: white;
    left: 10px;
}


.title img {
    margin-top: 6px;
    margin-left: 10px;
    padding-right: 8px;
}



#cont-login {
    position: relative;
    float: right;
    right: 50px;
    padding-top: 60px;
}

.login-img {
    position: relative;
    left: 20px;
}

.hline {
    position: relative;
    left: 12px;
}

.standard-form {

    position: relative;
    top: 10px;
    background: url("/site_media/images/form_bg.png") repeat-y;
    -moz-border-radius: 15px; /* Firefox */
    -webkit-border-radius: 15px; /* Safari and Chrome */
    border-radius: 15px; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */

}

.standard-fieldset {
    border: none 0px;
    padding-top: 20px;
}

.comments-form {
    position: relative;
    top: 10px;
}

.comments-fieldset {
    border: none 0px;
    padding-top: 20px;
}

.comments-form textarea {
    font-size: 9pt;
    width:500px;
    height: 40px;
}

.button-comment {
    position: relative;
    top: -60px;
    left: 110px;
    float: right;
}

.tintz-form {
    border: none 0px;
    padding-top: 20px;
}

.tintz-form input[type="text"] {
    font-size: 14px;
    width:200px;
    height: 40px;
    border: solid 0 #fff;
    background: transparent url("/site_media/images/textbox_email.png") no-repeat;
}

.tintz-form input[type="password"] {
    font-size: 14px;
    width:150px;
    height: 40px;
    border: solid 0 #fff;
    background: transparent url("/site_media/images/textbox_password.png") no-repeat;
}

.form-search {
    font-size: 9pt;
    border: none;
    position: relative;
    top: -40px;
    left: 335px;
}

.form-search input[type="text"] {
    width: 110px;
    height: 15px;
    border: none;
    color: #C0C0C0;
    font-style: italic;
    background: transparent;
}

.standard-form textarea {
    font-size: 9pt;
    width:200px;
    height: 200px;
}

.standard-form input[type="text"] {
    font-size: 9pt;
    width:200px;
    height: 20px;
}

#login-bt-ok {
    position: relative;
    top: 6px;
    left: 10px;
}

#form-bt-save {
    position: relative;
    left: 440px;
}

.login-label {
    font-size: 10pt;
    font-weight: normal;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.tintz-label {
    font-size: 9pt;
    position: relative;
    top: 5px;
    font-weight: bold;
    text-align: right;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

#login-remember {
    position: relative;
    left: -50px;
}

.login-links {
    position: relative;
    color: red;
    float: right;
    right: 145px;
}

.message-form {
    position: relative;
    color: black;
    font-weight: bold;
    float: right;
    right: 145px;
}

.login-links li {
    text-decoration: none;
    font-size: 9pt;
    padding-top: 5px;
    list-style-type: none;
}

.login-links a, .login-links a:active, .login-links a:visited {
    color: red;
    text-decoration: none;
}

.errorlist li {
    list-style-type: none;
    color: red;
    padding-bottom: 15px;
    text-decoration: none;
}

#footer, #footer a, #fotter a:visited{
    top: 60px;
    text-align: right;
    left: 30px;
    text-decoration: none;
    padding-left: 10px;
    background: #f4e30c;
    text-align: right;
    width: 100%;
    color: gray;
}

#whats_tintz {
    color: red;
    font-size: 10pt;
}

.username {
    position: relative;
    top: -10px;
    font-size: 18pt;
    font-weight: bold;
}

.about {
    font-size: 10pt;
    text-align: justify;
    max-width: 260px;
}

#avatar_replace a{
    position: relative;
    top: -24px;
    padding-left: 5px;
    background: #232323;
    color: rgba(255,255,255,1);
    font-weight: bold;
    font-size: 10pt;
    max-width: 70px;
    display: block;
    text-decoration: none;
}

#avatar_replace a:hover{
    background: #232323;
    color: rgba(255,255,255,1);
}

.choose {
    position: relative;
    float: left;
    left: -30px;
    font-size: 7pt;
    top: 10px;
}

.choose img {
    padding-right: 10px;
}

.choose a, a:visited {
    text-decoration: none;
    color: black;
    font-size: 11pt;
}

.publications-cover {
    position: relative;
    top: 20px;
    left: 10px;
}

.list-posts-title, .list-posts-title a, .list-posts-title a:visited {
    position: relative;
    top: 20px;
    left: -20px;
    font-size: 15pt;
    text-decoration: none;
    color: black;
    width: 500px;
}

.list-posts-subtitle {
    color: red;
    position: relative;
    top: 20px;
    left: -50px;
    float: right;
    font-size: 8pt;
}

.list-posts-description {
    position: relative;
    top: 40px;
    left: -20px;
    width: 500px;
    min-height: 200px;
    text-align: left;
    font-size: 9pt;
}

.list-posts-button {
    position: relative;
    top: 10px;
    left: 0px;
}


.list-pub-title, .list-pub-title a, .list-pub-title a:visited {
    position: relative;
    top: 10px;
    left: 0px;
    font-size: 13pt;
    text-decoration: none;
    color: black;
}

.list-pub-author, .list-pub-author a, .list-pub-author a:visited {
    position: relative;
    top: 10px;
    left: 0px;
    font-size: 9pt;
    text-decoration: none;
    color: red;
}

.list-pub-subtitle {
    color: red;
    position: relative;
    top: 0px;
    left: -30px;
    float: right;
    font-size: 8pt;
}

.list-pub-description {
    position: relative;
    top: 30px;
    left: 0px;
    min-height: 200px;
    text-align: left;
    font-size: 9pt;
}

.list-pub-button {
    position: relative;
    top: 0px;
    left: 0px;
}

.publication_page {
    position: relative;
    top: 20px;
    left: -40px;
}

.comments {
    position: relative;
    top: 20px;
}

.navigator {
    background: #232323;
    color: white;
    font-size: 12px;
    text-align: center;
    height: 30px;
    width: 200px;
    position: relative;
    top: 23px;
    left: -40px;
}

.navigator a, .navigator a:active {
    text-decoration: none;
    position: relative;
    color: white;
}

.page_number {
    position: relative;
    max-width: 90px;
    left: 50px;
    top: 7px;
}

.prev_arrow {
    top: 5px;
    position: relative;
    float: left;
    left: 10px;
    cursor: pointer;
}

.next_arrow {
    position: relative;
    top: -13px;
    float: right;
    right: 10px;
    cursor: pointer;
}


.prev_arrow_inactive {
    top: 5px;
    position: relative;
    float: left;
    left: 10px;
    color: gray;
}


.next_arrow_inactive {
    position: relative;
    top: -12px;
    float: right;
    right: 10px;
    color: gray;
}

.fullscreen {
    background: #232323;
    color: white;
    font-size: 12px;
    text-align: center;
    height: 30px;
    width: 100px;
    position: relative;
    top: 23px;
    left: -30px;
}

.fullscreen-text {
    position: relative;
    top: 6px;
    left: -10px;
}

.fullscreen img {
    position: relative;
    top: -10px;
    float: right;
    right: 7px;
}

.share {
    background: #232323;
    color: white;
    font-size: 12px;
    text-align: center;
    height: 30px;
    width: 110px;
    position: relative;
    top: 23px;
    left: -20px;
}

.share-text {
    position: relative;
    top: 6px;
    left: -7px;
}

.share img {
    position: relative;
    top: -10px;
    float: right;
    right: 7px;
    cursor: pointer;
}

.share-box {
    position: relative;
    background: green;
    top: 33px;
    padding-left: 7px;
    width: 145px;
    left: 405px;
    height: 40px;
    display: none;
}

.share-items {
    position: relative;
    top: -27px;
}

.rate {
    background: #232323;
    color: white;
    font-size: 12px;
    text-align: center;
    height: 30px;
    width: 70px;
    position: relative;
    top: 23px;
    left: -20px;
}

.rate-text {
    position: relative;
    top: 6px;
    left: -3px;
}

.stars {
    background: #232323;
    color: white;
    font-size: 12px;
    height: 30px;
    width: 110px;
    position: relative;
    float: right;
    top: -7px;
    left: 50px;
}

.star {
    position: relative;
    top: 6px;
    left: 0px;
}

.responses {
    position: relative;
    top: 20px;
    left: -80px;
}

.comment, .comment a {
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: none;
    text-decoration: none;
}

.comment-user {
    font-weight: bold;
    position: relative;
}

.comment-body {
    position: relative;
    float: left;
    top: 18px;
    left: -102px;
}

.separator {
    position: relative;
    top: 15px;
    left: -20px;
    background-color: #E0E0E0;
    height: 1px;
    width: 600px;
}

.delete-comment {
    position: relative;
    float: left;
    top: 0px;
    left: 400px;
}

.publication-rate {
    position: relative;
    float: right;
    top: 0px;
    left: 200px;
    font-size: 14pt;
    font-weight: bold;
}

.viewer {
    background-color: black;
    min-height: 1500px;
    min-width: 100%;
}

.logo-tintz-black {
    position: relative;
    top: 40px;
    left: 0px;
}

.publication-title {
    position: relative;
    color: white;
    text-align: right;
    left: -80px;
    font-weight: bold;
    font-size: 12pt;
    top: 70px;
    float: left;
}

.publication-profile {
    position: relative;
    max-width: 130px;
    left: -40px;
}

.publication-description {
   color: white;
   position: relative;
   text-align: right;
   font-size: 9pt;
   float: left;
   left: 0px;
   top: 80px;
}

.page-full {
    position: relative;
    top: 40px;
    left: 0px;
    min-width: 600px;
}



.navigator-full {
    background: white;
    color: white;
    font-size: 12px;
    text-align: center;
    height: 30px;
    width: 150px;
    position: relative;
    top: 50px;
    left: 0px;
}

.navigator-full a, .navigator-full a:active {
    text-decoration: none;
    position: relative;
    color: black;
}

.page_number-full {
    position: relative;
    color: black;
    max-width: 85px;
    left: 25px;
    top: 8px;
}

.prev_arrow-full {
    top: 4px;
    position: relative;
    color: black;
    float: left;
    left: 10px;
    cursor: pointer;
}

.next_arrow-full {
    position: relative;
    color: black;
    top: -12px;
    float: right;
    right: 10px;
    cursor: pointer;
}


.prev_arrow_inactive-full {
    top: 4px;
    position: relative;
    float: left;
    left: 10px;
    color: gray;
}


.next_arrow_inactive-full {
    position: relative;
    color: gray;
    top: -12px;
    float: right;
    right: 10px;

}

.fullscreen-close {
    background: white;
    color: black;
    font-size: 12px;
    text-align: center;
    height: 30px;
    width: 100px;
    top: 20px;
    position: relative;
    left: 160px;
}

.fullscreen-close-text {
    position: relative;
    top: 6px;
    left: -10px;
}

.fullscreen-close img {
    position: relative;
    top: -10px;
    float: right;
    right: 7px;
}

.right-view {
    position: relative;
    max-width: 200px;
    top: -5px;
    left: 100px;
}

.page-viewer {
    position: relative;
    top: 50px;
}

.thumb-page {
    padding: 15px 15px 15px 15px;
}


.navigator-viewer {
    background: black;
    color: white;
    font-size: 12px;
    text-align: center;
    height: 30px;
    width: 70px;
    position: relative;
    top: 50px;
    left: 0px;
}

.navigator-viewer a, .navigator-viewer a:active {
    text-decoration: none;
    position: relative;
    color: white;
}

.prev_arrow-viewer {
    top: 5px;
    position: relative;
    color: white;
    float: left;
    left: 10px;
}

.next_arrow-viewer {
    position: relative;
    color: white;
    top: 6px;
    float: right;
    right: 10px;
}


.prev_arrow_inactive-viewer {
    top: 5px;
    position: relative;
    float: left;
    left: 10px;
    color: gray;
}


.next_arrow_inactive-viewer {
    position: relative;
    top: 6px;
    float: right;
    right: 10px;
    color: gray;
}

.post-title {
    position: relative;
    top: 20px;
    text-decoration: none;
    font-size: 16pt;
}

.post-body {
    position: relative;
    top: 40px;
    font-size: 10pt;
}

.blog-meta {
    position: relative;
    top: 50px;
    padding-bottom: 40px;
}

.follow-profile {
    position: relative;
    padding: 2px 2px 2px 2px;
    min-width: 30px;
}

.preview-blog {
    position: relative;
    top: -15px;
}

.post-profile {
    position: relative;
    left: -40px;
}

.list-title, .list-title a, .list-title a:visited {
    background: #F5F5F5;
    width: 290px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-bottom: 1px;
    text-decoration: none;
    color:black;
    font-size: 9pt;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari and Chrome */
    border-radius: 5px; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */

}

.publications-profile {
    position: relative;
    top: -14px;
}

.preview-contacts {
    position: relative;
    left: -40px;
    top: -5px;
    min-width: 300px;
}

.publications-cover-edit {
    position: relative;
    left: 140px;
}

.profiles-details, .profiles-details a, .profiles-details a:visited {
    position: relative;
    top: 0px;
    left: 0px;
    color: red;
    font-weight: bold;
    text-decoration: none;
}

.profiles {
    position: relative;
    top: 20px;
}

.profiles-item {
    min-height: 115px;

}

.publication-views {
    position: relative;
    float: right;
    right: -150px;
    top: 27px;
    color: red;
    font-size: 9pt;
}

.update-avatar {
    position: relative;
    top: 15px;
    left: -30px;
}

.update-name, .update-name a, .update-name a:visited {
    position: relative;
    top: 7px;
    left: -15px;
    color: red;
    text-decoration: none;
    font-weight: bold;
}

.update-posts-title {
    position: relative;
    top: 10px;
    left: -30px;
    font-size: 13pt;
    text-decoration: none;
    color: black;
}

.update-posts-description {
    position: relative;
    top: 10px;
    left: -30px;
    min-height: 70px;
    text-align: left;
    font-size: 9pt;
}

.update-separator {
    position: relative;
    top: 15px;
    left: -30px;
    background-color: #E0E0E0;
    height: 1px;
    width: 600px;
}

.update-pub-cover {
    position: relative;
    top: 40px;
    left: -220px;

}

.update-pub-title, .update-pub-title a, .update-pub-title a:visited {
    position: relative;
    top: -86px;
    left: 95px;
    width: 200px;
    font-size: 11pt;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.update-pub-description {
    position: relative;
    top: -130px;
    max-width: 300px;
    left: -10px;
    min-height: 70px;
    text-align: left;
    font-size: 9pt;
}

.update-item {
    position: relative;
}

.thumb-page-click {
    cursor: pointer;
}

.items-count {
    position: relative;
    float: right;
    top: 3px;
    right: 2px;
}

.items-nr {
    position: relative;
    left: 8px;
    top: -23px;
}

.list_related-publications {
    position: relative;
    float: left;
    left: -30px;
    top: 20px;
    width: 700px;
}

.related-publication {
    position: relative;
}

.submit-edit {
    position: relative;
    background: white;
    top: 10px;
    margin-bottom: 15px;
    left: -10px;
    border: 1px;
    font-size: 9pt;
    font-weight: bold;
    cursor: pointer;
}

.type-result,  .type-result a, .type-result a:visited {
    position: relative;
    font-size: 10pt;
    padding: 10px;

}

#messages {
    position: relative;
    top: 0px;
    left: 300px;
    font-style: italic;
}

.report-abuse, .report-abuse a, .report-abuse a:visited{
    position: relative;
    left: -20px;
    top: 37px;
    color: red;
    font-size: 9pt;
}
