{% extends "site_base.html" %}

{% load i18n %}
{% load humanize i18n %}
{% load timezone_filters %}
{% load tagging_tags %}
{% load avatar_tags %}

{% block head_title %}{% trans "Tintz - Perfil" %}{% endblock %}

{% block extra_body %}
    {% if user.is_authenticated %}
    {% else %}
        {% url acct_signup as signup_url %}
        {% url acct_login as login_url %}
        <p>{% blocktrans %}Voc&ecirc; pode <a href="{{ signup_url }}">se cadastrar</a> ou <a href="{{ login_url }}">logar.</a>{% endblocktrans %}</p>
    {% endif %}
{% endblock %}

{% block main_content %}
<div class="span-8" id="left-panel">
    {% include "profiles/profile_left_panel.html" %}
</div>
<div class="span-8" id="center-panel">
    <a href="{% url publications other_user %}"><div class="title-profile"><img src="{{MEDIA_URL}}/images/bt_publications.png">Publica&ccedil;&otilde;es<div class="items-count"><img src="{{ MEDIA_URL }}images/items_count.png"/><div class="items-nr">{{ nr_publications }}</div></div></div></a>
    <div class="publications-profile">
        <table>
            {% for publication in publications %}
                {% if forloop.counter0|divisibleby:"2" %}<tr>{% endif %}
                <td class="span-4 publication-profile">
                    {% ifequal publication.status 1 %}
                         <a href="{% url publication_details publication.author publication.id %}">
                         <img src="{{ MEDIA_URL }}{{ publication.get_thumbnail150_name|urlencode }}" href="{% url publication_details publication.author publication.id %}" alt="{{ publication.title }}"/></a>
                    {% endifequal %}
                </td>
            {% endfor %}
            {% if publications|length|divisibleby:"2" %}{% else %}</tr>{% endif %}
        </table>
    </div>
</div>
<div class="span-8 last" id="right-panel">
    <a href="{% url blog_list_user other_user %}"><div class="title-profile"><img src="{{MEDIA_URL}}/images/bt_blog.png">Posts no Blog<div class="items-count"><img src="{{ MEDIA_URL }}images/items_count.png"/><div class="items-nr">{{ nr_posts }}</div></div></div></a>
    <div class="preview-blog">
        <table>
            <tr>
                <td class="span-4 post-profile">
                    {% for post in posts %}
                        <a class="span-5 list-title" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                    {% endfor %}
                </td>
            </tr>
        </table>
    </div>

    <a href="{% url following other_user %}"><div class="title-profile"><img src="{{MEDIA_URL}}/images/bt_contacts.png">Seguindo<div class="items-count"><img src="{{ MEDIA_URL }}images/items_count.png"/><div class="items-nr">{{ nr_followings }}</div></div></div></a>
    <div class="preview-contacts">
        <table>
            <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
            {% for following in followings %}
                {% if forloop.counter0|divisibleby:"7" %}<tr>{% endif %}
                <td class="span-1 follow-profile">
                    <a href="{% url profile_detail following.username %}" title="{{ following.get_profile.first_name }} {{ following.get_profile.last_name }}">{% avatar following 30 %}</a>
                </td>
            {% endfor %}
            {% if followings|length|divisibleby:"7" %}{% else %}</tr>{% endif %}
        </table>
    </div>
    <a href="{% url followers other_user %}"><div class="title-profile"><img src="{{MEDIA_URL}}/images/bt_contacts.png">Seguidores<div class="items-count"><img src="{{ MEDIA_URL }}images/items_count.png"/><div class="items-nr">{{ nr_followers }}</div></div></div></a>
    <div class="preview-contacts">
        <table>
            <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
            {% for follower in followers %}
                {% if forloop.counter0|divisibleby:"7" %}<tr>{% endif %}
                <td class="follow-profile">
                    <a href="{% url profile_detail follower.username %}" title="{{ follower.get_profile.first_name }} {{ follower.get_profile.last_name }}">{% avatar follower 30 %}</a>
                </td>
            {% endfor %}
            {% if followings|length|divisibleby:"7" %}{% else %}</tr>{% endif %}
        </table>
    </div>
</div>

{% endblock %}
