{% extends "site_base.html" %}

{% load i18n %}
{% load humanize i18n %}
{% load pagination_tags %}
{% load timezone_filters %}
{% load tagging_tags %}
{% load threadedcommentstags %}

{% block head_title %}{% trans "Tintz - Editar Perfil" %}{% endblock %}

{% block extra_body %}
    {% if user.is_authenticated %}
    {% else %}
        {% url acct_signup as signup_url %}
        {% url acct_login as login_url %}
        <p>{% blocktrans %}Voc&ecirc; pode <a href="{{ signup_url }}">se cadastrar</a> ou <a href="{{ login_url }}">logar.</a>{% endblocktrans %}</p>
    {% endif %}
{% endblock %}

{% block main_content %}
<div class="span-8" id="left-panel">
    {% include "profiles/profile_left_panel.html" %}
</div>
<div class="span-13 last">
    <div class="title"><img src="{{MEDIA_URL}}/images/bt_publications.png">{% trans "Editar Perfil" %}</div>

        <form enctype="multipart/form-data" class="standard-form" method="POST" action="">
            <fieldset class="standard-fieldset">
                <div class="span-12 errorlist pull-1">
                    <ul>
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <li>{{error}}</li>
                        {% endfor %}
                    {% endfor %}
                    </ul>
                </div>

                <label for="{{form.first_name.auto_id}}" class="span-7 last login-label">{{form.first_name.label}}</label>
                <div class="span-7 last">{{ form.first_name }}</div>

                <label for="{{form.last_name.auto_id}}" class="span-7 last login-label">{{form.last_name.label}}</label>
                <div class="span-7 last">{{ form.last_name }}</div>

                <label for="{{form.birth_date.auto_id}}" class="span-7 last login-label">{{form.birth_date.label}}</label>
                <div class="span-7 last">{{ form.birth_date }}</div>

                <label for="{{form.about.auto_id}}" class="span-7 last login-label">{{form.about.label}}</label>
                <div class="span-7 last">{{ form.about }}</div>

                <label for="{{form.interests.auto_id}}" class="span-7 last login-label">{{form.interests.label}}</label>
                <div class="span-7 last">{{ form.interests }}</div>

                <label for="{{form.location.auto_id}}" class="span-7 last login-label">{{form.location.label}}</label>
                <div class="span-6 last">{{ form.location }}</div>

                <label for="{{form.state.auto_id}}" class="span-7 last login-label">{{form.state.label}}</label>
                <div class="span-7 last">{{ form.state }}</div>

                <label for="{{form.country.auto_id}}" class="span-7 last login-label">{{form.country.label}}</label>
                <div class="span-7 last">{{ form.country }}</div>

                <label for="{{form.website.auto_id}}" class="span-7 last login-label">{{form.website.label}}</label>
                <div class="span-7 last">{{ form.website }}</div>

                <div class="span-10 pull-8 last">
		    <input type="hidden" name="action" value="update" /><input type="image" id="form-bt-save" src="{{MEDIA_URL}}images/bt_save.png" title="Salvar" />
                </div>


            </fieldset>
        </form>
</div>
{% endblock %}


