{% load avatar_tags %}
{% load i18n %}
{% load tagging_tags %}

{% if other_user.id %}
	<div id="profile_avatar">   
	    {% avatar other_user 140 %}
	</div> 
	<div class="username">{{ other_user.get_profile.first_name }}</div>
{% endif %}

{% if user.is_authenticated %}
<ul>
<li><a href="{% url profile_detail other_user %}">{% trans "Perfil" %}</a></li>
<li><a href="{% url publications other_user %}">{% trans "Publica&ccedil;&otilde;es" %}</a></li>
<li><a href="{% url blog_list_user other_user %}">{% trans "Blog" %}</a></li>
<li><a href="{% url following other_user %}">{% trans "Contatos" %}</a></li>
</ul>
{% endif %}

<div class="tag_cloud">    
  {% tag_cloud_for_model publications.Publication as publication_tags with steps=10 min_count=1 distribution=log %}</b>
  {% for tag in publication_tags %}
  <a href="{% url search_results tag.name %}" ><font size="{{tag.font_size}}"> {{tag.name}}</font></a>
  {% endfor %}
</div>

