{% load humanize i18n %}
{% load pagination_tags %}
{% load timezone_filters %}
{% load markup %}
{% load switchcase %}
{% load avatar_tags %}

<html>
<body>
    Ola, {{ update.user.get_profile.first_name }} {{ update.user.get_profile.last_name }}
    <br>
    <a href="tintz.com.br{% url profile_detail update.publication.author %}" title="{{ update.publication.author.get_profile.first_name }} {{ update.publication.author.get_profile.last_name }}"><img src="tintz.com.br{%  avatar_url update.publication.author 70 %}" alt="{{ update.publication.author.get_profile.first_name }} {{ update.publication.author.get_profile.last_name }}" width="70" height="70" /></a>

    <a href="tintz.com.br{% url profile_detail update.publication.author %}" title="{{ update.publication.author.get_profile.first_name }} {{ update.publication.author.get_profile.last_name }}">{{ update.publication.author.get_profile.first_name }} {{ update.publication.author.get_profile.last_name }}</a> publicou
    <br>

    <br>

    <br>
    <a href="tintz.com.br{% url publication_details update.publication.author update.publication.id %}">
    <br>

    <img src="tintz.com.br/site_media/{{ update.publication.get_thumbnail150_name|urlencode }}" href="{% url publication_details update.publication.author update.publication.id %}" alt="{{ update.publication.title }}"/></a>
    <br>

    <a href="tintz.com.br{% url publication_details update.publication.author update.publication.id %}">{{ update.publication.title }}</a>
    <br>
    {{ update.publication.get_small_text }}
</body>
</html>
