{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Confirm Email" %}{% endblock %}

{% block body %}
    {% if email_address %}
        <h1>{% trans "Conta Ativada" %}</h1>
        
        <p>{% blocktrans with email_address.user as user %}Conta ativada para usu&aacute;rio: '{{ user }}'.{% endblocktrans %}</p>
        <p>{% trans "Clique " %}<a href="{% url acct_signup_complete %}">{% trans "aqui" %}</a>{% trans " para retornar ao Tintz." %}</p>
    {% else %}
        <p>{% trans "C&oacute;digo de Ativa&ccedil;&atilde;o inv&aacute;lido." %}</p>
    {% endif %}
{% endblock %}