{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Conta Ativada" %}{% endblock %}

{% block body %}
    <div class="span-8  last" id="cont-login">
        <div class="span-6" id="whats_tintz">
            {% if email_address %}
                <h2>{% trans "Conta Ativada" %}</h2>
                
                <p>{% blocktrans with email_address.user as user %}Conta ativada para usu&aacute;rio: '{{ user }}'.{% endblocktrans %}</p>
                <p>{% trans "Clique " %}<a href="{% url acct_login %}">{% trans "aqui" %}</a>{% trans " para entrar no Tintz." %}</p>
            {% else %}
                <p>{% trans "C&oacute;digo de Ativa&ccedil;&atilde;o inv&aacute;lido." %}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}