body {
    background: #f4e30c;
}

#main-content {
    background: white;
    min-height: 1300px;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 20px;
}

.left-button {
    padding-top: 4px;
}

#cont-login {
    position: relative;
    float: right;
    right: 50px;
    padding-top: 60px;
}

.tintz-form {
    border: none 0px;
    padding-top: 20px;
}

input[type="text"] {
    font-size: 14px;
    width:200px;
    height: 40px;
    border: solid 0 #fff;
    background: transparent url("/site_media/media/images/textbox_email.png") no-repeat;
}

input[type="password"] {
    font-size: 14px;
    width:150px;
    height: 40px;
    border: solid 0 #fff;
    background: transparent url("/site_media/media/images/textbox_password.png") no-repeat;
}

#login-bt-ok {
    position: relative;
    top: 6px;
    left: 10px;
}

.login-label {
    font-size: 10pt;
    font-family: "Helvetica Neue", Arial, sans-serif;
}