body {
    background: #f4e30c;
}

#main-content {
    background: white;
    min-height: 1300px;
    width: 1000px;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 20px;
}

.left-button {
    margin-top: 10px;
    background: #232323;
    height: 30px;
    width: 260px;
}

.left-button img {
    margin-top: 6px;
    margin-left: 10px;
    padding-right: 8px;
}

.left-button a, .left-button a:visited {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.title {
    position: relative;
    left: -40px;
    background: #232323;
    color: white;
    font-weight: bold;
    font-size: 14px;
    height: 30px;
    width: 700px;
}

.title img {
    margin-top: 6px;
    margin-left: 10px;
    padding-right: 8px;
}



#cont-login {
    position: relative;
    float: right;
    right: 50px;
    padding-top: 60px;
}

.login-img {
    position: relative;
    left: 20px;
}

.hline {
    position: relative;
    left: 12px;
}

.standard-form {

    position: relative;
    top: 10px;
    background: url("/site_media/media/images/form_bg.png") repeat-y;
}

.standard-fieldset {
    border: none 0px;
    padding-top: 20px;
}

.tintz-form {
    border: none 0px;
    padding-top: 20px;
}

.tintz-form input[type="text"] {
    font-size: 14px;
    width:200px;
    height: 40px;
    border: solid 0 #fff;
    background: transparent url("/site_media/media/images/textbox_email.png") no-repeat;
}

.tintz-form input[type="password"] {
    font-size: 14px;
    width:150px;
    height: 40px;
    border: solid 0 #fff;
    background: transparent url("/site_media/media/images/textbox_password.png") no-repeat;
}

.standard-form textarea {
    font-size: 9pt;
    width:200px;
    height: 200px;
}

.standard-form input[type="text"] {
    font-size: 9pt;
    width:200px;
    height: 20px;
}

#login-bt-ok {
    position: relative;
    top: 6px;
    left: 10px;
}

#form-bt-save {
    position: relative;
    left: 440px;
}

.login-label {
    font-size: 10pt;
    font-weight: normal;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.tintz-label {
    font-size: 9pt;
    position: relative;
    top: 5px;
    font-weight: bold;
    text-align: right;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

#login-remember {
    position: relative;
    left: -50px;
}

.login-links {
    position: relative;
    color: red;
    float: right;
    right: 145px;
}

.login-links li {
    text-decoration: none;
    font-size: 9pt;
    padding-top: 5px;
    list-style-type: none;
}

.login-links a, .login-links a:active, .login-links a:visited {
    color: red;
    text-decoration: none;
}

.errorlist li {
    list-style-type: none;
    color: red;
    padding-bottom: 15px;
    text-decoration: none;
}

#footer, #footer a, #fotter a:visited{
    top: 60px;
    text-align: right;
    left: 30px;
    text-decoration: none;
    padding-left: 10px;
    color: gray;
}

#whats_tintz {
    color: red;
    font-size: 10pt;
}

.username {
    position: relative;
    top: -10px;
    font-size: 18pt;
    font-weight: bold;
}

.about {
    font-size: 10pt;
    text-align: justify;
    max-width: 260px;
}

#avatar_replace a{
    position: relative;
    top: -24px;
    padding-left: 5px;
    background: #232323;
    color: rgba(255,255,255,1);
    font-weight: bold;
    font-size: 10pt;
    max-width: 70px;
    display: block;
    text-decoration: none;
}

#avatar_replace a:hover{
    background: #232323;
    color: rgba(255,255,255,1);
}

.choose {
    position: relative;
    padding-left: 20px;
    top: 30px;
}

.choose img {
    padding-right: 10px;
}

.choose a, a:visited {
    text-decoration: none;
    color: black;
    font-size: 12pt;
}

.publications-cover {
    position: relative;
    top: 20px;
    left: 10px;
}

.list-title {
    position: relative;
    top: 20px;
    left: 20px;
    font-size: 12pt;
    text-decoration: none;
    color: black;
}

.list-subtitle {
    color: red;
    position: relative;
    top: -8px;
    left: 70px;
    float: right;
    font-size: 8pt;
}

.list-description {
    position: relative;
    top: 20px;
    left: 20px;
    min-height: 200px;
    max-height: 200px;
    font-size: 9pt;
}

.list-button {
    position: relative;
    top: 170px;
    left: 0px;    
}

.publication_page {
    position: relative;
    top: 20px;
    left: -40px;
}

.comments {
    position: relative;
    top: 30px;
}

.navigator {
    background: #232323;
    color: white;
    font-size: 12px;
    text-align: center;
    height: 30px;
    width: 200px;
    position: relative;
    top: 20px;
    left: -40px;
}

.navigator a, .navigator a:active {
    text-decoration: none;
    position: relative;
    color: white;
}

.page_number {
    position: relative;
    max-width: 50px;
    left: 75px;
    top: -11px;
}

.prev_arrow {
    top: 5px;
    position: relative;
    float: left;
    left: 10px;
}

.next_arrow {
    position: relative;
    top: -30px;
    float: right;
    right: 10px;
}


.prev_arrow_inactive {
    top: 5px;
    position: relative;
    float: left;
    left: 10px;
    color: gray;
}


.next_arrow_inactive {
    position: relative;
    top: -30px;
    float: right;
    right: 10px;
    color: gray;
}

.fullscreen {
    background: #232323;
    color: white;
    font-size: 12px;
    text-align: center;
    height: 30px;
    width: 100px;
    position: relative;
    top: -10px;
    left: 170px;
}

.fullscreen-text {
    position: relative;
    top: 6px;
    left: -10px;
}

.fullscreen img {
    position: relative;
    top: -10px;
    float: right;
    right: 7px;
}

.share {
    background: #232323;
    color: white;
    font-size: 12px;
    text-align: center;
    height: 30px;
    width: 110px;
    position: relative;
    top: -40px;
    left: 280px;
}

.share-text {
    position: relative;
    top: 6px;
    left: -3px;
}

.share img {
    position: relative;
    top: -10px;
    float: right;
    right: 7px;
}